@use 'base/variables' as v;
@use 'base/mixins' as m;

.projects-container {
    text-align: center;

    h2 {
        font-size: 3.5rem;
        margin-bottom: 4rem;
        color: v.$morado;
        position: relative;
        display: inline-block;

    }

    h2::after {
        content: '';
        position: absolute;
        width: 50%;
        height: 3px;
        background: linear-gradient(to right, #3498db, #9b59b6);
        bottom: -10px;
        left: 25%;
    }
}

.projects-grid {


    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;

    @include m.tablet{
        grid-template-columns: repeat(2, 1fr);
    }
}

.project-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    height: 27rem;
    background: #2c3e50;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }
}



.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.project-card:hover .project-image {
    opacity: 0.4;
}

.project-title {
    position: absolute;
    top: 20px;
    left: 20px;
    color: v.$blanco;
    font-size: 1.5rem;
    margin: 0;
    z-index: 2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

.project-card:hover .project-overlay {
    opacity: 1;
}

.project-description {
    margin: 10px 0 15px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: v.$blanco;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    span {
        background: rgba(255, 255, 255, 0.2);
        padding: 5px 12px;
        border-radius: 20px;
        margin: 0 8px 8px 0;
        font-size: 0.8rem;
        backdrop-filter: blur(5px);
    }
}

.project-links {
    display: flex;
    gap: 15px;

    a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        display: inline-flex;
        align-items: center;
        gap: 5px;
        padding: 8px 15px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.15);
        transition: background 0.3s;
    }

}

.project-links .project-links a:hover {
    background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
    // .projects-grid {
    //     grid-template-columns: 1fr;
    // }

    .project-overlay {
        opacity: 1;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    }

    .project-card:hover .project-image {
        opacity: 0.7;
    }
}